{% extends 'base.html' %}
{% block content %}
    <div class="mt-2">
        <h1 class="d-inline">Todo 목록</h1>
        <a href="{% url 'todo:create' %}" class="float-end btn btn-sm btn-primary">생성</a>
    </div>

    <hr>

        {% for todo in object_list %}
            <div class="my-1">
                <a href="{% url 'todo:info' todo.pk %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">  <!-- blog.id 이렇게 해도됨 !-->
                    ({{ todo.id }}){{ todo.title }} <span>({{ todo.user.username }})</span>- <small>{{ todo.created_at | date:"Y-m-d" }}</small>

            {% if todo.is_completed %}
                <div class="list-group-item list-group-item-action">
                    <img class="img-thumbnail" src="{{ todo.thumbnail.url }}" alt="썸네일이미지" style="width: 100px; height: 100px; object-fit: contain;">
                    <a class="text-decoration-none text-black" href="{% url 'todo:info' todo.id %}">[{{ todo.user.username }}]{{ todo.title }} (Completed)</a>
                </div>
            {% else %}
                <div class="list-group-item list-group-item-action">
                    <img class="img-thumbnail" src="{{ todo.thumbnail.url }}" alt="썸네일이미지" style="width: 100px; height: 100px; object-fit: contain;">
                    <a class="text-decoration-none text-black" href="{% url 'todo:info' todo.id %}">[{{ todo.user.username }}] {{ todo.title }}</a>
                </div>
            {% endif %}

        {% endfor %}

                </a>
            </div>

    <form method="GET" class="my-3 d-flex">
        <label>
            <input class="form-control-sm" name="q" type="text" placeholder="검색어를 입력하세요." value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
        </label>
        <button class="btn btn-sm btn-info ms-2">검색</button>
    </form>

    {% include 'pagination.html' %}
{% endblock %}